{% extends "base.html" %}

{% block content %}



<h1>Reaction List</h1>

    {% if reaction_list %}

    <form method="get" action="/nucreactions/reactions/">
        <input type="text" name="q" placeholder="Search">
    </form>

    <ul>
        {% for reaction in reaction_list %}
        <li>
            <a href="{{ reaction.get_absolute_url }}">{{ reaction }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no reactions in the library</p>
    {% endif %}

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}