{% extends "base.html" %}
{% block content %}
  <h1>Name: {{ reaction }}</h1>


  <p><strong>Target:</strong> <a href="{{ reaction.target.get_absolute_url }}">{{ reaction.target.name }}</a></p>
  {% if reaction.projectile is not None %}
  <p><strong>Projectile:</strong> <a href="{{ reaction.projectile.get_absolute_url }}">{{ reaction.projectile.name }}</a></p>
  {% endif %}
  <p><strong>First product:</strong> <a href="{{ reaction.product_one.get_absolute_url }}">{{ reaction.product_one.name }}</a></p>
  <p><strong>Second product:</strong> <a href="{{ reaction.product_two.get_absolute_url }}">{{ reaction.product_two.name }}</a></p>
  {% if reaction.product_three is not None %}
    <p><strong>Third product:</strong> <a href="{{ reaction.product_three.get_absolute_url }}">{{ reaction.product_three.name }}</a></p>
  {% endif %}

  {% if reaction.reaction_view is not None %}
    <p><strong>Middle germ:</strong> {{ reaction.reaction_view }} </p>
  {% endif %}


{% endblock %}